.tabs {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-sm);

  button {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    background: transparent;
    height: var(--spacing-xxl);
    border-radius: var(--radius-full);
    font-weight: var(--font-weight-semibold);
    border: solid 1px var(--color-blue-15);
    padding: var(--spacing-sm) var(--spacing-xl);
    letter-spacing: 1px;

    &:hover {
      border-color: var(--color-blue-full);
    }

    &.active {
      background: var(--color-blue-15);
      border-color: transparent;

      &:hover {
        border-color: var(--color-blue-15);
      }
    }
  }
}
