.app {
    display: flex;
    flex-direction: column;
    width: 360px;
    background: var(--color-bg-primary);
    border: 1px solid var(--color-bg-secondary);
}

.main {
   padding: var(--spacing-lg) 0 var(--spacing-sm);
}
